UI/Web/IRMS/SQT.Symphony.UI.Web.IRServices/Service References/SrvcInvestorList/InvestorList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInvestorListWihtXML">
        <s:complexType />
      </s:element>
      <s:element name="GetInvestorListWihtXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvestorListWihtXMLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInvestorListWihtXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvestorListWihtXML" />
  </wsdl:message>
  <wsdl:message name="GetInvestorListWihtXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvestorListWihtXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="InvestorListSoap">
    <wsdl:operation name="GetInvestorListWihtXML">
      <wsdl:input message="tns:GetInvestorListWihtXMLSoapIn" />
      <wsdl:output message="tns:GetInvestorListWihtXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvestorListSoap" type="tns:InvestorListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvestorListWihtXML">
      <soap:operation soapAction="http://tempuri.org/GetInvestorListWihtXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InvestorListSoap12" type="tns:InvestorListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvestorListWihtXML">
      <soap12:operation soapAction="http://tempuri.org/GetInvestorListWihtXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvestorList">
    <wsdl:port name="InvestorListSoap" binding="tns:InvestorListSoap">
      <soap:address location="http://localhost:4360/Services/InvestorList.asmx" />
    </wsdl:port>
    <wsdl:port name="InvestorListSoap12" binding="tns:InvestorListSoap12">
      <soap12:address location="http://localhost:4360/Services/InvestorList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>