Backup/Backup/UI/Web/IRMS/SQT.Symphony.UI.Web.PosServices/Service References/Live_GuestList/CheckInGuestList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCheckInGuestListWihtXML">
        <s:complexType />
      </s:element>
      <s:element name="GetCheckInGuestListWihtXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckInGuestListWihtXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCheckInGuestListWihtXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckInGuestListWihtXML" />
  </wsdl:message>
  <wsdl:message name="GetCheckInGuestListWihtXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckInGuestListWihtXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckInGuestListSoap">
    <wsdl:operation name="GetCheckInGuestListWihtXML">
      <wsdl:input message="tns:GetCheckInGuestListWihtXMLSoapIn" />
      <wsdl:output message="tns:GetCheckInGuestListWihtXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckInGuestListSoap" type="tns:CheckInGuestListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCheckInGuestListWihtXML">
      <soap:operation soapAction="http://tempuri.org/GetCheckInGuestListWihtXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckInGuestListSoap12" type="tns:CheckInGuestListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCheckInGuestListWihtXML">
      <soap12:operation soapAction="http://tempuri.org/GetCheckInGuestListWihtXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckInGuestList">
    <wsdl:port name="CheckInGuestListSoap" binding="tns:CheckInGuestListSoap">
      <soap:address location="http://soappos.uniworldindia.com/Services/CheckInGuestList.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckInGuestListSoap12" binding="tns:CheckInGuestListSoap12">
      <soap12:address location="http://soappos.uniworldindia.com/Services/CheckInGuestList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>